$top-nav-background-color: #ffffff;
$text-gray-600: #858796;

:host {
    .navbar {
        background-color: $top-nav-background-color;
        color: $text-gray-600;
        .navbar-brand {
            color: $text-gray-600;
        }
        .nav-item > a {
            color: $text-gray-600;
            &:hover {
                color: darken($top-nav-background-color, 25%);
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid $text-gray-600;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
