<form class="form-horizontal form-label-left" novalidate [formGroup]="entityForm" (ngSubmit)="saveChange()">
    <div #pnl class="modal-body div-scroll">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <span class="required">Tài khoản:</span>
                </div>
                <div class="ui-grid-col-6">
                    <input type="text" pInputText [pKeyFilter]="noSpecial" formControlName="userName">
                </div>
                <div class="ui-grid-col-4">
                    <app-validation-message [entityForm]="entityForm" fieldName="userName"
                        [validationMessages]="validation_messages"></app-validation-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <span class="required">Mật khẩu:</span>
                </div>
                <div class="ui-grid-col-6">
                    <input type="password" pInputText formControlName="password">
                </div>
                <div class="ui-grid-col-4">
                    <app-validation-message [entityForm]="entityForm" fieldName="password"
                        [validationMessages]="validation_messages"></app-validation-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <span class="required">Tên:</span>
                </div>
                <div class="ui-grid-col-6">
                    <input type="text" pInputText [pKeyFilter]="noSpecial" formControlName="firstName">
                </div>
                <div class="ui-grid-col-4">
                    <app-validation-message [entityForm]="entityForm" fieldName="firstName"
                        [validationMessages]="validation_messages"></app-validation-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <span class="required">Họ:</span>
                </div>
                <div class="ui-grid-col-6">
                    <input type="text" pInputText [pKeyFilter]="noSpecial" formControlName="lastName">
                </div>
                <div class="ui-grid-col-4">
                    <app-validation-message [entityForm]="entityForm" fieldName="lastName"
                        [validationMessages]="validation_messages"></app-validation-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <span>Ngày sinh:</span>
                </div>
                <div class="ui-grid-col-6">
                    <p-calendar formControlName="dob" dateFormat="dd/mm/yy" [showIcon]="true" [locale]="vi"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" showButtonBar="true">
                    </p-calendar>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <span class="required">Email:</span>
                </div>
                <div class="ui-grid-col-6">
                    <input type="text" pInputText pKeyFilter="email" formControlName="email">
                </div>
                <div class="ui-grid-col-4">
                    <app-validation-message [entityForm]="entityForm" fieldName="email"
                        [validationMessages]="validation_messages"></app-validation-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <span>Điện thoại:</span>
                </div>
                <div class="ui-grid-col-6">
                    <input type="text" pInputText pKeyFilter="int" formControlName="phoneNumber">
                </div>
            </div>
        </div>
        <!-- <p-blockUI [target]="pnl" [blocked]="blockedPanel">

            <p-progressSpinner></p-progressSpinner>
        </p-blockUI> -->
    </div>
    <div class="modal-footer">
        <button type="submit" pbutton class="btn btn-success">Lưu
            lại</button>
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Đóng</button>
    </div>
</form>