<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none" href="/"
            title="Daisy Forum">
            <img height="28px" width="auto" src="/images/title.png" alt="Daisy Forum logo">
        </a>
        <form id="search-form" method="get" action="/tim-kiem" autocomplete="off" class="w-50 col-lg-auto mb-3 mb-lg-0"
            role="search">
            <input type="search" class="form-control" name="keyword" placeholder="Bạn có câu hỏi?" aria-label="Search">
            <div id="search-error-container"></div>
        </form>
    </div>
</header>