.bg-primary{
    background-color: #7254F3 !important;
}

.bg-secondary{
    background-color: #A1C30D !important;
}

.bg-success{
    background-color: #29C76F !important;
}

.bg-info{
    background-color: #5486F3 !important;
}

.bg-warning{
    background-color: #FF9F42 !important;
}

.bg-help{
    background-color: #3eC9D6 !important;
}

.bg-danger{
    background-color: #EA5455 !important;
}