<div #pnl class="animated fadeIn">
  <p-table #dt [value]="items" selectionMode="multiple" [(selection)]="selectedItems" [metaKeySelection]="true"
    [responsive]="true" [scrollable]="true" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
    styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
      <div class="d-flex">
        <p-button appPermission appFunction="SYSTEM_USER" appAction="CREATE" type="button" label="Thêm"
          icon="fa fa-plus" styleClass="btn mr-2" (click)="showAddModal()"></p-button>
        <p-button appPermission appFunction="SYSTEM_USER" appAction="DELETE" type="button" label="Xóa"
          styleClass="p-button-warning btn mr-2" icon="fa fa-trash" class="ui-button-danger"
          *ngIf="selectedItems.length > 0" (click)="deleteItems()"></p-button>
        <p-button appPermission appFunction="SYSTEM_USER" appAction="UPDATE" type="button" label="Sửa"
          styleClass="p-button-danger btn mr-2" icon="fa fa-edit" class="ui-button-warning"
          *ngIf="selectedItems.length== 1" (click)="showEditModal()"></p-button>
        <p-checkbox label="Gán quyền" [(ngModel)]="showRoleAssign" (click)="showHideRoleTable()" binary="true">
        </p-checkbox>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input class="form-control" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword"
            placeholder="Nhập từ từ khóa..." type="text">
        </span>
      </div>

      <div #pnlRole *ngIf="showRoleAssign">
        <p-table #dt2 [value]="userRoles" selectionMode="multiple" [(selection)]="selectedRoleItems"
          [metaKeySelection]="true" [responsive]="true" [scrollable]="true">
          <ng-template pTemplate="header">
            <hr>
            <div class="d-flex mb-2">
              <p-button appPermission appFunction="SYSTEM_USER" appAction="UPDATE" type="button" label="Thêm quyền"
                styleClass="btn mr-2" icon="fa fa-plus" *ngIf="selectedItems !=null" (click)="addUserRole()"></p-button>
              <p-button appPermission appFunction="SYSTEM_USER" appAction="UPDATE" type="button" label="Xóa quyền"
                styleClass="p-button-danger btn mr-2" icon="fa fa-remove" class="ui-button-danger"
                *ngIf="selectedRoleItems.length>0" (click)="removeRoles()"></p-button>
            </div>

            <tr>
              <th style="width: 35px">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th [pSortableColumn]="'name'">Tên quyền
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr [pSelectableRow]="row">
              <td style="width: 35px;">
                <p-tableCheckbox [value]="row"></p-tableCheckbox>
              </td>
              <td>{{row}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div style="text-align: left">
              Tổng số quyền: {{totalUserRoleRecords}}
            </div>
          </ng-template>
        </p-table>
        <p-blockUI [target]="pnlRole" [blocked]="blockedPanelRole">
          <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
            strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
        </p-blockUI>
      </div>

    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="'userName'">Tài khoản
          <p-sortIcon [field]="'userName'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'firstName'">Họ
          <p-sortIcon [field]="'firstName'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'lastName'">Tên
          <p-sortIcon [field]="'firstName'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'email'">Email
          <p-sortIcon [field]="'email'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'dob'">Ngày sinh
          <p-sortIcon [field]="'dob'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'phoneNumber'">Số điện thoại
          <p-sortIcon [field]="'phoneNumber'"></p-sortIcon>
        </th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr [pSelectableRow]="row">
        <td>
          <p-tableCheckbox [value]="row"></p-tableCheckbox>
          {{row.userName}}
        </td>
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.email}}</td>
        <td>{{row.dob | date:'dd/MM/yyyy'}}</td>
        <td>{{row.phoneNumber}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">
        Tổng: {{totalRecords | number}}
      </div>
    </ng-template>
  </p-table>
  <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10,20,50,100]"></p-paginator>
  <p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
      strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
</div>