<div [@routerTransition]>
    <h4 class="text-muted">Tổng quan</h4>

    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-4">
            <app-stat [bgClass]="'primary'" [icon]="'fa-user'" [count]="totalMembers"
                [label]="'Thành viên mới!'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-4">
            <app-stat [bgClass]="'success'" [icon]="'fa-tasks'" [count]="totalKbs" [label]="'Bài đăng mới!'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-4">
            <app-stat [bgClass]="'warning'" [icon]="'fa-comments'" [count]="totalComments"
                [label]="'Bình luận mới!'"></app-stat>
        </div>
    </div>

    <div class="animated fadeIn">
        <div class="row mt-5">
            <div class="col-xl-4 col-lg-4">
                <label for="" class="text-uppercase text-center">Biểu đồ thành viên theo tháng</label>
                <p-chart type="doughnut" [data]="dataMember" [options]="optionMembers" height="400"></p-chart>
            </div>
            <div class="col-xl-4 col-lg-4">
                <label for="" class="text-uppercase text-center">Biểu đồ bài đăng theo tháng</label>
                <p-chart type="doughnut" [data]="dataKb" [options]="optionKbs" height="400"></p-chart>
            </div>
            <div class="col-xl-4 col-lg-4">
                <label for="" class="text-uppercase text-center">Biểu đồ bình luận theo tháng</label>
                <p-chart type="doughnut" [data]="dataComment" [options]="optionComments" height="400"></p-chart>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-xl-4 col-lg-4">
                <label for="" class="text-uppercase text-center">Biểu đồ thành viên theo tháng</label>
                <p-chart type="bar" [data]="dataMember" [options]="optionMembers" height="400"></p-chart>
            </div>
            <div class="col-xl-4 col-lg-4">
                <label for="" class="text-uppercase text-center">Biểu đồ bài đăng theo tháng</label>
                <p-chart type="bar" [data]="dataKb" [options]="optionKbs" height="400"></p-chart>
            </div>
            <div class="col-xl-4 col-lg-4">
                <label for="" class="text-uppercase text-center">Biểu đồ bình luận theo tháng</label>
                <p-chart type="bar" [data]="dataComment" [options]="optionComments" height="400"></p-chart>
            </div>
        </div>
        <p-blockUI [blocked]="blockedPanel">
            <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
                strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
        </p-blockUI>
    </div>
</div>